<h2 mat-dialog-title>Item Detail</h2>
<mat-dialog-content class="mat-typography">
  <form [formGroup]="itemForm" class="example-form">
    <mat-form-field class="example-full-width" appearance="standard">
      <mat-label>Item Name</mat-label>
      <input matInput placeholder="Ex. Pizza" formControlName="itemName" />
    </mat-form-field>

    <mat-form-field class="example-full-width" appearance="standard">
      <mat-label>Purchase Price</mat-label>
      <input
        matInput
        placeholder="Ex. Pizza"
        formControlName="purchasePrice"
        type="number"
      />
    </mat-form-field>

    <mat-form-field class="example-full-width" appearance="standard">
      <mat-label>Sell Price</mat-label>
      <input
        matInput
        placeholder="Ex. Pizza"
        formControlName="sellPrice"
        type="number"
      />
    </mat-form-field>

    <mat-form-field class="example-full-width" appearance="standard">
      <mat-label>Stock Count</mat-label>
      <input
        matInput
        placeholder="Ex. Pizza"
        formControlName="stockCount"
        type="number"
      />
    </mat-form-field>

    <mat-form-field class="example-full-width" appearance="standard">
      <mat-label>Image File</mat-label>
      <input matInput placeholder="Ex. Pizza" formControlName="fileImage" />
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-flat-button color="warn" (click)="deleteItem()">
    Delete
  </button>

  <button mat-flat-button [mat-dialog-close]="false">Cancel</button>

  <button mat-flat-button color="primary" (click)="saveItem()">
    Save
  </button>
</mat-dialog-actions>
